<!DOCTYPE html>
<html lang="en">

{% block title %}{% endblock %}

<body>
<div class="container">

{% block header %}
    <h3 class="text-muted">Orekhov Nikita super app</h3>
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="btn btn-default active"><a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
<footer class="footer">
    <h4>copyright © All rights reserved</h4>
</footer>
{% endblock %}

</div>

</body>

</html>
