{% extends "base.html" %}

{% block title %}
<head>
    <title>Book page</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1> {{ author_name }} </h1>
        <h2> {{ shelf_source[author_name][book_ind][0] }} </h2>
        <p> {{ shelf_source[author_name][book_ind][1] }}</p>
    </div>
{% endblock %}